:root {
--bg-color: #414134;
--white-color: #fff;
--headers-color: rgb(235, 227, 227);
--text-color: #ddd;
--text-color2: #83a048;
--btn-about-color: #2c2a2aad;
--bgc-mobile: #333;
--hover-color: #fff;
--blue-box-color: #043850;
--bgc-col-left: #08364bad;
--bgc-col-right: #313632;
--media-color: #0D638A;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

/* --- headers --- */
 h1, h2 {
  color: var(--headers-color);
  font-size: 1.5vw;
  font-weight: 400;
}

h3, h4, h5, h6 {
  color: var(--headers-color);
  font-size: 1.3vw;
}

/* --- paragraphs --- */
 p {
  color: var(--text-color);
  font-weight: 100;
  line-height: 1.7;
  font-size: .74vw;
}




/* --- shopping cart --- */

.cards-headers {
  font-size: 1vw;
  padding: 1vw 0;
  color: var(--text-color);
}

.cards-headers-right {
  margin-left: 11px;
}

.cards-headers-small {
  font-size: 0.6vw;
  padding: 0.5vw 0;
  color: var(--text-color);
}

/* --- INPUTS --- */

.input {
  background-color: #183a49a9;
  background-color: #183a4900;
  border: none;
  border-bottom: 2px #707070 solid;
  outline: none;
  margin-bottom: 3vh;
  padding: 5px;
  color: #fff;
  width: 16vw;
}

/* --- PARAGRAPHS --- */

/* --- shopping cart --- */

.cards-text {
  font-size: 0.6vw;
  color: #ddd;
  /* display: flex;
  justify-content: flex-end; */
}


/* --- blind links --- */

.all-blind-links {
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 700px;
  margin: auto;
} 

@media only screen and (max-width: 800px){
  .all-blind-links {
    width: 80vw;
    margin-top: 40px;
  } 
}

.page-footer {
  display: flex;
  height: 20vh;
  align-items: center;
}
