/* ---blind links --- */

.blind-payment {
  background-image: url("/images/woman.png");
}

.blind-payment {
  padding: 30px;
}

.number-underline {
  color: var(--number-underline-color);
  text-decoration: underline;
}
