/* ---blind links --- */

.blind-register {
  background-image: url("/images/register-image-min.png");
}

.blind-register {
  padding: 30px;
}

.rainydays-bgc {
  color: var(--rainydays-color);
  background-color: var(--rainydays-bgc-color);
}
