

.blind-payment {
  /* width: 60vh; */

 background-image: url("/images/woman.png");
 /* background-repeat: no-repeat;
 background-size: contain;
 width: 500px;
 height: 700px;
 margin: auto; */
 
}

.blind-payment {
  padding: 30px;
}

.number-underline {
  color: rgb(74, 78, 77);
  text-decoration: underline;
 
}


/* .blind-login-img {
  height: 100%;
  width: 100%;
} */


.shop-footer {
  display: flex;
  height: 15vh;
  align-items: flex-end;
}


@media only screen and (max-width: 800px){
  .blind-login {
    
  }
   

  }