/*--- contact ---*/





.contact-section-wrapper {
  width: 80%;
  margin: auto;
}


.contact-section {
  display: flex;
  width: 80%;
  margin: auto;
  height: 70vh;
}



.cols {
  background-color: #456444;
  height: 700px;
  width: 600px;
  justify-content: center;
  padding: 50px;
  margin: auto;
  height: 60vh;
}

.cols h3{
  color: #fff;
  font-size: 2.4vw;
  font-weight: 400;
  margin-bottom: 40px;
}

.form-text {
  font-size: .7vw;
}


.input-box {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 300px;
  margin-bottom: 40px;
  color: #ddd;
}

.input {
  background-color: #183a49a9;
  border: none;
  border-bottom: 2px #707070 solid;
  outline: none;
  margin-bottom: 3vh;
  padding: 5px;
}

.col-left-contact {
  background-color: #08364bad;
  /* height: 700px; */
  height: 30vh;
  /* max-width: 600px; */
  max-width: 50vh;
  flex-basis: 35%;
  justify-content: center;
  padding: 40px;
  margin: auto;
  height: 60vh;
}

.textarea {
  /* background-color: rgba(221, 221, 221, 0.466); */
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  margin-bottom: 10px;
  width: 9vw;
  height: 4vw;
}

.submit-btn  {
  outline: none;
  border: none;
  appearance: none;
  

}


.col-right-contact {
  background-color: #313632;
  flex-basis: 35%;
  height: 700px;
  width: 600px;
  margin: auto;
  height: 60vh;
}
.col-right-contact h4 {
  font-size: 0.7vw;
  color: #ddd;
  font-weight: 400;
  margin-bottom: 10px;
}

.col-right-contact p {
    font-size: 16px;
    color: #ddd;
    font-weight: 400;
    margin-bottom: 40px;

}


