/* login-register */

.section-login {
  width: 80%;
  margin: auto;
}

.columns {
  display: flex;
  width: 80%;
  height: 70vh;
  margin: 40px auto;
}

.column-log-reg  {
  background-color: #183a49a9;
  background-color: #08364bad;
  width: max(35%, 220px);
  /* height: 60vh; */
  height: calc(58vh + 50px);
}

.input {
  width: calc(85% - 20px);
}

.form-text {
  font-size: .7vw;
  max-height: 5%;
}

.input-box {
  /* max-height: calc(95% - 10px); */
  /* height: calc(95% - 80px); */
  height: max(60%, 300px);
}

.btn-login {
  display: flex;
  justify-content: flex-end;
  margin-block-start: auto;
  /* place-items: flex-end; */
}

.col-left-login h3 {
  font-size: 2.5vw;
  color: #ddd;
  font-weight: 400;
}

.col-right-register h3 {
  font-size: 2.5vw;
  color: #ddd;
  font-weight: 400;

}