/* login-register */

.section-login {
  width: 80%;
  margin: auto;
}

.columns {
  display: flex;
  width: 80%;
  margin: 40px auto;
}

.column-log-reg {
  background-color: var(--bgc-col-left);
  width: max(35%, 220px);
  height: 60vh;
}

.form-text {
  font-size: 0.7vw;
  max-height: 5%;
}

.col-left-login .input-box {
  height: max(63%, 300px);
}

.btn-login {
  display: flex;
  justify-content: flex-end;
  margin-block-start: auto;
}

@media only screen and (max-width: 800px) {
  .columns {
    display: block;
    width: 80vw;
  }
  .input {
    width: 40vw;
  }
  .col-left-login.headers {
    width: 80vw;
    margin-bottom: 40px;
  }
  .col-right-register {
    width: 80vw;
  }
}
