/*--- payment ---*/

.payment-section-wrapper {
  width: 80%;
  margin: auto;
  height: 70vh;
}

.payment-section {
  display: flex;
  width: 80%;
  margin: 40px auto;
  height: 30vh;
}

.form-text {
  font-size: 0.7vw;
  max-height: 5%;
}

.input-box {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.col-left-payment {
  background-color: var(--bgc-col-left);
  flex-basis: 35%;
  justify-content: space-between;
  padding: 40px;
  height: 60vh;
}

.textarea {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 9vw;
  height: 4vw;
  color: var(-white-color);
}

.submit-btn {
  outline: none;
  border: none;
  appearance: none;
}

.col-right-payment {
  background-color: var(--bgc-col-right);
  flex-basis: 35%;
  height: 60vh;
}

@media only screen and (max-width: 800px) {
  .payment-section-wrapper {
    height: auto;
  }

  .col-left-payment {
    margin-bottom: 40px;
    height: auto;
    width: 100%;
    flex-basis: auto;
  }
  .col-right-payment {
    height: auto;
    width: 100%;
    flex-basis: auto;
  }

  .submit-btn {
    margin-top: 5px;
    padding: 1vh 5vw;
    font-size: 3vw;
  }

  .payment-section {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .headers h1 {
    font-size: 6vw;
  }
  .form-text {
    font-size: 2vw;
  }
}
