* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #414134;
}

header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.logo {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.logo img {
  width: 154px;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex: 1;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  padding: 30px;
  font-size: 16px;
  font-size: clamp(0.9rem, 0.8vw, 3rem);
}

ul li a {
  color: #e2e3ef;
  text-decoration: none;
}

.icon img {
  width: 28px;
  width: 1.1vw;
  color: #e2e3ef;
  display: inline-block;
  margin-left: 25px;
}

.col-left h1 {
  font-size: 30px;
  margin-bottom: 80px;
  letter-spacing: 1.5px;
}

.col-left p {
  max-width: 550px;
  font-size: 16px;
  font-weight: 100;
}

/* section-header */

.section-wrapper {
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
  width: 80%;
  margin: auto;
  color: #ddd;
}

.section-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  flex-grow: 1;
}

.col-left {
  flex: 1 1 60%;
  flex-basis: 100px;
}

.col-right img {
  max-width: 100%;
  width: 900px;
  flex: 2 2 40%;
  flex-basis: 400px;
  flex: 1 1 33%;
  max-width: 100%;
}

.col-right {
  width: 50%;
  flex-basis: 900px;
  flex: 1 0;
}

.discover-btn {
  display: flex;
  height: 30%;
  align-items: flex-end;
}

.discover-btn a {
  background-color: #0d638a;
  padding: 2% 3%;
  border-radius: 5px;
  color: #e2e3ef;
  text-decoration: none;
  letter-spacing: 1.4px;
  font-size: 16px;
}

/* *****section-shop***** */

.shop-wrapper {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  display: flex;
}

.section-women,
.section-men {
  width: 70%;
  /* width: 47vw;
    width: auto; */
  /* margin: auto; */
  display: grid;
  grid-gap: 10rem;

  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(3, 12vw);

  /* grid-auto-rows: minmax(150px, 1fr); */
  grid-auto-flow: dense;
  grid-auto-flow: row;
  /* padding: 2rem; */
  margin-left: auto;
  justify-content: space-between;
  grid-row-gap: 9vw;
}

.card {
  /* background-color: #65575725; */
  border: 3px solid rgba(184, 168, 168, 0.605);
  border-radius: 0.66rem;
  height: 12vw;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: auto;
  transition: all 1s;
}

.card:hover {
  border-radius: 0.1rem;
  border: 3px solid rgba(94, 78, 78, 0.605);
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  /* object-position: -2vw; */
  /* filter: drop-shadow(12px 2px 5px #0909093a); */
  box-shadow: 8px 16px 25px 11px rgba(50, 50, 50, 0.75);
  transition: all 1s;
}

/* .card img:hover{
    box-shadow: 18px 16px 25px 11px rgba(50, 50, 50, 0.75); 
     filter: drop-shadow(5px -1px 11px #57573bf9);
    
 } */

.banner-blue-box {
  width: 13.5vw;
  height: 10vw;
  background-color: rgba(41, 45, 90, 0.853);
  animation: pulse 2s infinite;
  filter: drop-shadow(-55px -51px 71px #4c4c8a9a);
  filter: drop-shadow(-55px -51px 71px #22414f);
  filter: drop-shadow(-55px -51px 71px #4d4d31f9);
}

@keyframes pulse {
  0% {
    background-color: rgba(41, 45, 90, 0.853);
  }
  50% {
    background-color: #293764;
  }
  100% {
    background-color: rgba(41, 45, 90, 0.853);
  }
}

.blue-box-header {
  background-color: #043850;
  padding: 20% 0 15% 4%;
  color: #e2e3ef;
  animation: pulse 3s infinite;
  font-size: clamp(0.9rem, 1.3vw, 3rem);
}

@keyframes pulse {
  0% {
    background-color: rgba(41, 45, 90, 0.853);
  }
  50% {
    background-color: #293764;
  }
  100% {
    background-color: rgba(41, 45, 90, 0.853);
  }
}

.blue-box-text {
  background-color: #043850;
  padding: 0 4% 25%;
  color: #b5b6c5;
  animation: pulse 2s infinite;
  font-size: clamp(0.5rem, 0.8vw, 3rem);
}

@keyframes pulse {
  0% {
    background-color: rgba(41, 45, 90, 0.853);
  }
  50% {
    background-color: #293764;
  }
  100% {
    background-color: rgba(41, 45, 90, 0.853);
  }
}
@keyframes pulse {
  40% {
    color: rgba(168, 169, 179, 0.853);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  }
  50% {
    color: #7e8498;
    box-shadow: 2px 2px rgba(50, 50, 50, 0.75);
    /* filter: drop-shadow(5px -1px 11px #57573bf9); */
  }
  100% {
    color: rgba(236, 236, 238, 0.853);
    box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.75);

    /* filter: drop-shadow(5px -1px 11px #57573bf9); */
  }
}